# Python
__pycache__/
*.py[cod]
*$py.class

# Data (Assuming these shouldn't be tracked)
notebooks/artifacts/

# Virtual Environment
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
